<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Desafio Full-Stack</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/empresas'"> Empresas </a>
            <a mat-button [routerLink]="'/create'"> Add Empresas</a>
            <!-- <a mat-button [routerLink]="'/contacts'"> Contacts </a>
        <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-button [routerLink]="'/activities'"> Activities </a>
        <a mat-button [routerLink]="'/create-activity'"> Create Activity </a> -->

        </div>
    </mat-toolbar-row>
</mat-toolbar>